@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}

/*CONTAINER 1*/
header{
    background: #2f2e2e;
    height: 20%;
}

/*logotipo*/
.logo{
    object-fit: contain;
    height: 80%;
    width: 13%;
    margin-left: 5%;
    margin-top: 0.8%;
}

/*relativo ao menu*/
nav#menu{
    display: block;
    display:inline-block;
    font-family: 'poppins';
}
/*FICA COM SELECT A PAGINA QUE EU ESTOU*/
nav#menu a#select-1{
    color:#1e9699;
    text-decoration: none;
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 8%;
    left: 60%;
}
nav#menu li{
    display: inline;
    margin: 10px;
    transition: background-color 1s;
    padding: 0%;
}
nav#menu li:hover{
    background-color: transparent;
    color: #1e9699;
}
nav#menu a{
    color:#ffffff;
    text-decoration: none;
}
nav#menu a:hover {
    color: #1e9699;
}

/*IMAGEM PRINCIPAL-- BACKGROUND*/
.principal{
    width: 100%;
    margin-top: 2%;
    /*position: relative;*/
}
img.img-principal{
    object-fit: cover;
    margin: -2%;
    width: 102%;
    height: 80%;
}
/*MGS- Á FRENTE DA IMAGEM*/
/*DIV FOI DIVIDIDA EM 2*/
.msg-principal{
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    margin-left: 5%;
    margin-bottom: auto;
    width: 80%;
    height: 50%;
    background-color: transparent;
    position: absolute;
}

/*METADE DA DIV MSG-PRINCIPAL 50% DA DIV*/
.msg-cruz{
    width: 30%;
    height: 100%;
    position: absolute;
}
/*TAMANHO DAS IMAGENS DA CRUZ*/
.cruz-verde{
    object-fit: contain;
    margin-top: 2%;
    margin-left: 45%;
    height: 30%;
    width: 28%;
    background-color: transparent;
}
/*A OUTRA METADE DA DIV MSG-PRINCIPAL 50% DA DIV*/
.msg-letras{
    margin-left: 23%;
    width: 70%;
    height: 70%;
    background-color: transparent;
    position: absolute;
}
/*TAMANHO DA IMAGEM DAS LETRAS*/
.letras{
    object-fit: contain;
    margin-top: 0%;
    margin-left: 0%;
    height: auto;
    width: 50%;
    background-color: transparent;
}


/*.letras{
    object-fit: contain;
    margin-top: 0px;
    width: 30%;
    height: 100%;
    position: static;
    /*margin-left: 20%;/*-90%
    background-color: transparent;
}*/
/*.cruz-verde{
    object-fit: contain;
    margin-top: 0%;
    width: 40%;
    height: 40%;
    position: static;
    margin-left: -5%;/*-90%
    background-color: transparent;
}*/


/*REFERENTE Á CAIXA INFORMATIVA*/
.box_quem{
    width: 100%;
    height: 65%;
    background: #2f2e2e;
}

/*DESIGN*/
.box_design{
    position: absolute;
    object-fit: cover;
    margin-top: 8%;
    margin-left: 10%;
    min-width: 20%;
    max-width: 20%;
    height: 40%;
}
.img_design{
    float: left;
    margin-top: 5%;
    object-fit: contain;
    width: 30%;
    height: 30%;
}
.title_grafico{
    float: right;
    margin-top: 10%;
    margin-right: 7%;
    font-size: 20px;
    font-family: arial;
    color: #ffffff;
}
.txt_grafico{
    float: right;
    margin-right: 5%;
    font-size: 15px;
    line-height: 24px;
    color: #797979;
}

/*REDES SOCIAIS*/
.box_redes{
    position: absolute;
    margin-top: 8%;
    margin-left: 30%;
    min-width: 20%;
    max-width: 20%;
    height: 40%;
}
.img_redes{
    float: left;
    margin-top: 5%;
    margin-left: 7%;
    object-fit: contain;
    width: 30%;
    height: 30%;
}
.title_redes{
    float: right;
    margin-top: 10%;
    margin-right: 7%;
    font-size: 20px;
    font-family: arial;
    color: #ffffff;
}
.txt_redes{
    float: right;
    font-size: 15px;
    line-height: 24px;
    color: #797979;
    margin-right: 17%;
}


/*MOTION DESIGN*/
.box_motion{
    position: absolute;
    margin-top: 8%;
    margin-left: 50%;
    min-width: 23%;
    max-width: 23%;
    height: 40%;
}
.img_motion{
    float: left;
    margin-top: 5%;
    object-fit: contain;
    width: 30%;
    height: 30%;
}
.title_motion{
    margin-top: 10%;
    font-size: 20px;
    font-family: arial;
    color: #ffffff;
}
.txt_motion{
    font-size: 15px;
    line-height: 24px;
    color: #797979;
    margin-right: 34.3%;
    text-align:end;
}


/*3D*/
.box_3d{
    position: absolute;
    margin-top: 8%;
    margin-left: 73%;
    min-width: 20%;
    max-width: 20%;
    height: 40%;
}
.img_3d{
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    object-fit: contain;
    width: 30%;
    height: 30%;
}
.title_3d{
    
    margin-top: 10%;
    margin-right: 55%;
    font-size: 20px;
    font-family: arial;
    color: #ffffff;
}
.txt_3d{
    font-size: 15px;
    line-height: 24px;
    color: #797979;
    margin-right: 15.3%;
}


/*CAIXA DE SOBRE A SECÇÃO INTEIRA*/
.box_sobre-tudo{
    width: 100%;
    height: 50%;
    background: #fafafa;
}
/*DIV COMPLETA ,O CONTEUDO TODO*/
.box_sobre-informacao{
    position: absolute;
    margin-top: 5%;
    margin-left: 12%;
    width: 30%;
    height: 10%;
}
/*TITULO A DIZER SOBRE*/
.title_sobre{
    margin-left: 30%;
    width: 70%;
    height: 100%;
    position: absolute;
}
/*DIV DA CRUZ PRETA*/
.img-cruz-preta{
    width: 28%;
    height: 100%;
    position: absolute;
}
/*IMAGEM CRUZ PRETA*/
img.cruz-preta{
    height: 60%;
    float: right;
    margin-top: 5%;
    margin-right: 5%;
}
/*TITULO "SOBRE"*/
.title_1_sobre{
    margin-top: 0%;
    font-size: 55px;
    color:#000000;
}


/*A DIV DO TEXTO SOBRE*/
.txt-sobre{
    width: 60%;
    height: 20%;
    position: absolute;
    margin-top: 13%;
    margin-left: 21%;
}
.sobre{
    font-size: 16px;
    color:#000000;
    font-family: 'poppins';
}

/*SECTION CAIXA CONTATO*/
.box-contato{
    width: 100%;
    height: 50%;
    background-color: #2f2e2e;
}
/*DIV CRUZ E TITULO*/
.box_sobre-head{
    position: absolute;
    margin-top: 5%;
    margin-left: 12%;
    width: 50%;
    height: 10%;
    /*background-color: crimson;*/
}
/*DIV CRUZ*/
.img-cruz-branca{
    width: 18%;
    height: 100%;
    position: absolute;
    /*background-color: cyan;*/
}
.cruz-branca{
    height: 60%;
    float: right;
    margin-top: 5%;
    margin-right: 5%;
}
/*DIV TITULO*/
.title_fale{
    margin-left: 18%;
    width: 82%;
    height: 100%;
    position: absolute;
    /*background-color: darkorange;*/
}
.title_1_fale{
    color: white;
    font-size: 55px;
}
 
/*DIVISAO INTEIRA DO EMAIL E TELEFONE TODOS JUNTOS*/
.email-telefone{
    position: absolute;
    margin-top: 12%;
    margin-left: 18%;
    width: 20%;
    height: 15%;
    /*background-color:blueviolet;*/
}
/*DIVISAO COMPLETA DO EMAIL 50% DA DIV TOTAL*/
.divisao-email{
    width: 100%;
    height: 50%;
    /*background-color: chartreuse;*/
}
/*REFERENTE á div da image/ icon email*/
.img-icon-email{
    float: left;
    width: 30%;
    height: 100%;
    /*background-color: chocolate;*/
}
/*REFERENTE Á IMAGEM EM SI*/
.icon-email{
    margin-right: 15%;
    margin-top: 15%;
    float: right;
    width: 35%;
}
/*REFERENTE AO EMAIL*/
.txt-email{
    float: right;
    width: 70%;
    height: 100%;
    /*background-color: crimson;*/
}
/*EMAIL*/
.email{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    margin-top: 5%;
}
/*DIVISAO COMPLETA DO TELEFONE 50% DA DIV TOTAL*/
.divisao-telefone{
    width: 100%;
    height: 50%;
    /*background-color: teal;*/
}
/*REFERENTE á div da image/ icon email*/
.img-icon-telefone{
    float: left;
    width: 30%;
    height: 100%;
    /*background-color: violet;*/
}
.numero-telefone{
    float: right;
    width: 70%;
    height: 100%;
    /*background-color: yellow;*/
}
.icon-telefone{
    margin-right: 20%;
    margin-top: 5%;
    float: right;
    width: 20%;
    height: 80%;
}
.telefone{
    margin-top: 8%;
    color: #ffffff;
    font-size: 16px;
}

/*MENU SOCIAL - conjunto de links de navegação REDES SOCIAIS*/
.social-menu ul {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin-top: -10%;
    margin-left: 250%;
    background-color: transparent;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    width: 50%;
    height: 0px;
    background-color: #fafafa;
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}

.social-menu ul li .fa:hover {
    color: #fafafa;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #000000;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #0077B5;
}

/*roda pé*/
.rodape{
    background-color: #ffffff;
    text-align: center;
    height: 60px;
}
.final{
    position: absolute;
    color: #000000;
    text-align: center;
    margin-top: 1.5%;
    margin-left: 40%;
}